# **Maji Ndogo: From analysis to action**
# **Charting the course for Maji Ndogo's water future**

### Overview
Welcome to part four of this project which is aimed at enhancing water access in Maji Ndogo. This initiative focuses on leveraging data analysis to identify areas for improvement and strategically allocate resources to optimize water sources across provinces and towns.

### Main Goal
The primary objective of this project is to enhance water access in Maji Ndogo through targeted interventions and data-driven decision-making.

## Main Points:

### 1. **Joining Pieces Together: Finding the Data We Need Across Tables**
   - Combine data from various tables to extract essential information.
   - Ensure seamless integration of location, water source, and visit data for comprehensive analysis.

### 2. **The Last Analysis: Finding the Final Insights from Our Data**
   - Conduct a thorough analysis to derive meaningful insights.
   - Identify key patterns and relationships within the data to inform decision-making.

### 3. **Summary Report: Sharing Our Knowledge with Decision-Makers**
   - Compile a comprehensive report summarizing findings and recommendations.
   - Present insights in a clear and actionable format for stakeholders and decision-makers.

### 4. **A Practical Plan: From Analysis to Action**
   - Translate insights into actionable steps for implementation.
   - Develop a strategic plan based on data analysis to address water-related challenges effectively.

This project aims to transform data into actionable insights, guiding the strategic enhancement of water access in Maji Ndogo for the benefit of the community.

## 1. **Joining Pieces Together: Finding the Data We Need Across Tables**

To find the data needed across tables, the process involves combining information from different sources to extract essential insights for analysis. This integration is crucial for understanding the relationships between various data points and deriving meaningful conclusions. Here are the key details regarding this point:

- **Data Integration Process:**
  - Combine data from tables like visits, well_pollution, location, and water_source to create a comprehensive dataset.
  - Use SQL JOIN operations, such as LEFT JOIN, to merge data from multiple tables based on specific criteria.
  
- **Query Execution:**
  - Utilize SQL queries to assemble relevant data into a single table for simplified analysis.
  - Ensure that the JOIN operations are correctly structured to include all necessary information from different tables.

- **Insight Extraction:**
  - Extract specific data points like water source types, location details, and pollution results to identify patterns and relationships.
  - The goal is to uncover insights that can guide decision-making and strategic planning for addressing water-related challenges effectively.

By effectively joining pieces of data together from various tables, this process enables a comprehensive analysis that forms the foundation for deriving actionable insights and making informed decisions to improve water access in the targeted areas.

In the situation of corruption involving field workers, President of Maji Ndogo took swift action upon being informed about the issue. She expressed gratitude to the team for uncovering the corruption and emphasized a zero-tolerance policy towards individuals prioritizing personal gain over the community's welfare. The President's commitment to combating corruption and prioritizing data-driven decision-making instilled hope for positive change in Maji Ndogo. The team's efforts to convert data into actionable knowledge, shape raw data into meaningful views for decision-makers, and create job lists for engineers were highlighted as crucial steps towards addressing water-related challenges effectively. The focus shifted towards translating understanding into informed decisions, planning budgets, identifying areas needing immediate attention, and ultimately transforming Maji Ndogo for a brighter future.

We still have a bit of analysis to wrap up, and then we need to create a table to track our progress. Let's start with the last bit of analysis

So I used to be tempted to put all of the columns from all of the tables in one place/table, and then analyse the data, but on a dataset of this size,
we're going to run into performance issues.

So, we should rather spend a minute thinking about the questions we still have, and create queries to answer them, specifically. Doing this means
that we will only use the data we need to answer our question.

Let's summarise the data we need, and where to find it:

• All of the information about the location of a water source is in the location table, specifically the town and province of that water source.

• water_source has the type of source and the number of people served by each source.

• visits has queue information, and connects source_id to location_id. There were multiple visits to sites, so we need to be careful to
include duplicate data (visit_count > 1 ).

• well_pollution has information about the quality of water from only wells, so we need to keep that in mind when we join this table.

Things that spring to mind for me:
1. Are there any specific provinces, or towns where some sources are more abundant?
2. We identified that tap_in_home_broken taps are easy wins. Are there any towns where this is a particular problem?

To answer question 1, we will need province_name and town_name from the location table. We also need to know type_of_water_source and
number_of_people_served from the water_source table.

The problem is that the location table uses location_id while water_source only has source_id. So we won't be able to join these tables directly. But the visits table maps location_id and source_id. So if we use visits as the table we query from, we can join location where
the location_id matches, and water_source where the source_id matches.

Before we can analyse, we need to assemble data into a table first. It is quite complex, but once we're done, the analysis is much simpler!

In [1]:
%load_ext sql
# Connect to MySQL database
%sql mysql+pymysql://root:123456@127.0.0.1:3306/md_water_services

Let's start by joining location to visits.

In [2]:
%%sql
# Query to join location to visits
SELECT
    l.province_name,
    l.town_name,
    v.visit_count,
    v.location_id
FROM
    visits v
JOIN
    location l
ON
    v.location_id = l.location_id
LIMIT 5;

 * mysql+pymysql://root:***@127.0.0.1:3306/md_water_services
5 rows affected.

[('Akatsi', 'Harare', 1, 'AkHa00000'),
 ('Akatsi', 'Harare', 1, 'AkHa00001'),
 ('Akatsi', 'Harare', 1, 'AkHa00002'),
 ('Akatsi', 'Harare', 1, 'AkHa00003'),
 ('Akatsi', 'Harare', 1, 'AkHa00004')]

Now, we can join the water_source table on the key shared between water_source and visits.

For one location, there are multiple records for the same location. If we aggregate, we will include
these rows, so our results will be incorrect. To fix this, we can just select rows where visits.visit_count = 1.

In [3]:
%%sql
# Query to join water source to result set
SELECT
    l.province_name,
    l.town_name,
    ws.type_of_water_source,
    l.location_type,
    ws.number_of_people_served,
    v.time_in_queue
FROM
    visits v
JOIN
    location l
ON
    v.location_id = l.location_id
JOIN 
    water_source ws
ON
    v.source_id = ws.source_id
WHERE
    v.visit_count = 1
LIMIT 5;

 * mysql+pymysql://root:***@127.0.0.1:3306/md_water_services
5 rows affected.

[('Sokoto', 'Ilanga', 'river', 'Urban', 402, 15),
 ('Kilimani', 'Rural', 'well', 'Rural', 252, 0),
 ('Hawassa', 'Rural', 'shared_tap', 'Rural', 542, 62),
 ('Akatsi', 'Lusaka', 'well', 'Urban', 210, 0),
 ('Akatsi', 'Rural', 'shared_tap', 'Rural', 2598, 28)]

Last one! Now we need to grab the results from the well_pollution table.
This one is a bit trickier. The well_pollution table contained only data for well. If we just use JOIN, we will do an inner join, so that only records
that are in well_pollution AND visits will be joined. We have to use a LEFT JOIN to join theresults from the well_pollution table for well
sources, and will be NULL for all of the rest.

In [4]:
%%sql
# Query to add well pollution table
SELECT
    ws.type_of_water_source,
    l.town_name,
    l.province_name,
    l.location_type,
    ws.number_of_people_served,
    visits.time_in_queue,
    well_pollution.results
FROM
    visits 
LEFT JOIN
    well_pollution
ON
    well_pollution.source_id = visits.source_id
INNER JOIN
    location l
ON
    l.location_id = visits.location_id
INNER JOIN
    water_source ws
ON
    ws.source_id = visits.source_id
WHERE
    visits.visit_count = 1
LIMIT 5;

 * mysql+pymysql://root:***@127.0.0.1:3306/md_water_services
5 rows affected.

[('river', 'Ilanga', 'Sokoto', 'Urban', 402, 15, None),
 ('well', 'Rural', 'Kilimani', 'Rural', 252, 0, 'Contaminated: Biological'),
 ('shared_tap', 'Rural', 'Hawassa', 'Rural', 542, 62, None),
 ('well', 'Lusaka', 'Akatsi', 'Urban', 210, 0, 'Contaminated: Biological'),
 ('shared_tap', 'Rural', 'Akatsi', 'Rural', 2598, 28, None)]

So this table contains the data we need for this analysis. Now we want to analyse the data in the results set. We can either create a CTE, and then
query it, or in my case, I'll make it a VIEW so it is easier to share with you. I'll call it the combined_analysis_table.

In [5]:
%%sql
# Query to create a view for results table
CREATE VIEW combined_analysis_table AS
SELECT
    water_source.type_of_water_source AS source_type,
    location.town_name,
    location.province_name,
    location.location_type,
    water_source.number_of_people_served AS people_served,
    visits.time_in_queue,
    well_pollution.results
FROM
    visits
LEFT JOIN
    well_pollution
ON
    well_pollution.source_id = visits.source_id
INNER JOIN
    location
ON
    location.location_id = visits.location_id
INNER JOIN
    water_source
ON
    water_source.source_id = visits.source_id
WHERE
    visits.visit_count = 1;

 * mysql+pymysql://root:***@127.0.0.1:3306/md_water_services
0 rows affected.

[]

## 2. **Last Analysis: Finding the Final Insights from Our Data**

In the last analysis phase, the focus is on extracting the final insights from the data to inform decision-making effectively. Here are the specific details regarding this point:

- **Data Aggregation and Summarization:**
  - Aggregate data from various tables to consolidate information for analysis.
  - Summarize key metrics and variables to derive meaningful insights.

- **Pattern Identification:**
  - Identify patterns and trends within the data to understand relationships and correlations.
  - Analyze data points to uncover significant findings that can guide decision-makers.

- **Insight Generation:**
  - Generate actionable insights by interpreting the data in a meaningful way.
  - Translate complex data into clear, understandable insights for stakeholders.

- **Decision Support:**
  - Provide decision-makers with the necessary information to make informed choices.
  - Present insights in a structured format that facilitates strategic planning and problem-solving.

By conducting a thorough analysis in this phase, the goal is to extract valuable insights that can drive informed decisions, optimize resource allocation, and address water-related challenges efficiently in Maji Ndogo.

We're building another pivot table! This time, we want to break down our data into provinces or towns and source types. If we understand where
the problems are, and what we need to improve at those locations, we can make an informed decision on where to send our repair teams.

In [6]:
%%sql
# Query to create pivot table for percentage of people served by province and water source type
WITH province_totals AS (
    SELECT
        province_name,
        SUM(people_served) AS total_ppl_serv
    FROM
        combined_analysis_table
    GROUP BY
        province_name
)
SELECT
    ct.province_name,
    ROUND((SUM(CASE WHEN source_type = 'river'
    THEN people_served ELSE 0 END) * 100.0 / pt.total_ppl_serv), 0) AS river,
    ROUND((SUM(CASE WHEN source_type = 'shared_tap'
    THEN people_served ELSE 0 END) * 100.0 / pt.total_ppl_serv), 0) AS shared_tap,
    ROUND((SUM(CASE WHEN source_type = 'tap_in_home'
    THEN people_served ELSE 0 END) * 100.0 / pt.total_ppl_serv), 0) AS tap_in_home,
    ROUND((SUM(CASE WHEN source_type = 'tap_in_home_broken'
    THEN people_served ELSE 0 END) * 100.0 / pt.total_ppl_serv), 0) AS tap_in_home_broken,
    ROUND((SUM(CASE WHEN source_type = 'well'
    THEN people_served ELSE 0 END) * 100.0 / pt.total_ppl_serv), 0) AS well
FROM
    combined_analysis_table ct
JOIN
    province_totals pt ON ct.province_name = pt.province_name
GROUP BY
    ct.province_name
ORDER BY
    ct.province_name;

 * mysql+pymysql://root:***@127.0.0.1:3306/md_water_services
5 rows affected.

[('Akatsi', Decimal('5'), Decimal('49'), Decimal('14'), Decimal('10'), Decimal('23')),
 ('Amanzi', Decimal('3'), Decimal('38'), Decimal('28'), Decimal('24'), Decimal('7')),
 ('Hawassa', Decimal('4'), Decimal('43'), Decimal('15'), Decimal('15'), Decimal('24')),
 ('Kilimani', Decimal('8'), Decimal('47'), Decimal('13'), Decimal('12'), Decimal('20')),
 ('Sokoto', Decimal('21'), Decimal('38'), Decimal('16'), Decimal('10'), Decimal('15'))]

I can spot the following patterns:

• Look at the river column, Sokoto has the largest population of people drinking river water. We should send our drilling equipment to Sokoto
first, so people can drink safe filtered water from a well.

• The majority of water from Amanzi comes from taps, but half of these home taps don't work because the infrastructure is broken. We need to
send out engineering teams to look at the infrastructure in Amanzi first. Fixing a large pump, treatment plant or reservoir means that
thousands of people will have running water. This means they will also not have to queue for water, so we improve two things at once.

Let's aggregate the data per town now. You might think this is simple, but one little town makes this hard. Recall that there are two towns in Maji
Ndogo called Harare. One is in Akatsi, and one is in Kilimani. Amina is another example. So when we just aggregate by town, SQL doesn't distinguish between the different Harare's, so it combines their results.

To get around that, we have to group by province first, then by town, so that the duplicate towns are distinct because they are in different towns.

In [7]:
%%sql
# Query to create pivot table for percentage of people served by province and town name and water source type
WITH town_totals AS (
    SELECT
        province_name,
        town_name,
        SUM(people_served) AS total_ppl_serv
    FROM
        combined_analysis_table
    GROUP BY
        province_name,
        town_name
)
SELECT
    ct.province_name,
    ct.town_name,
    ROUND((SUM(CASE WHEN source_type = 'river'
    THEN people_served ELSE 0 END) * 100.0 / tt.total_ppl_serv), 0) AS river,
    ROUND((SUM(CASE WHEN source_type = 'shared_tap'
    THEN people_served ELSE 0 END) * 100.0 / tt.total_ppl_serv), 0) AS shared_tap,
    ROUND((SUM(CASE WHEN source_type = 'tap_in_home'
    THEN people_served ELSE 0 END) * 100.0 / tt.total_ppl_serv), 0) AS tap_in_home,
    ROUND((SUM(CASE WHEN source_type = 'tap_in_home_broken'
    THEN people_served ELSE 0 END) * 100.0 / tt.total_ppl_serv), 0) AS tap_in_home_broken,
    ROUND((SUM(CASE WHEN source_type = 'well'
    THEN people_served ELSE 0 END) * 100.0 / tt.total_ppl_serv), 0) AS well
FROM
    combined_analysis_table ct
JOIN 
    town_totals tt ON ct.province_name = tt.province_name AND ct.town_name = tt.town_name
GROUP BY
    ct.province_name,
    ct.town_name
ORDER BY
    ct.town_name;

 * mysql+pymysql://root:***@127.0.0.1:3306/md_water_services
31 rows affected.

[('Amanzi', 'Abidjan', Decimal('2'), Decimal('53'), Decimal('22'), Decimal('19'), Decimal('4')),
 ('Kilimani', 'Amara', Decimal('8'), Decimal('22'), Decimal('25'), Decimal('16'), Decimal('30')),
 ('Amanzi', 'Amina', Decimal('8'), Decimal('24'), Decimal('3'), Decimal('56'), Decimal('9')),
 ('Hawassa', 'Amina', Decimal('2'), Decimal('14'), Decimal('19'), Decimal('24'), Decimal('42')),
 ('Amanzi', 'Asmara', Decimal('3'), Decimal('49'), Decimal('24'), Decimal('20'), Decimal('4')),
 ('Sokoto', 'Bahari', Decimal('21'), Decimal('11'), Decimal('36'), Decimal('12'), Decimal('20')),
 ('Amanzi', 'Bello', Decimal('3'), Decimal('53'), Decimal('20'), Decimal('22'), Decimal('3')),
 ('Sokoto', 'Cheche', Decimal('19'), Decimal('16'), Decimal('35'), Decimal('12'), Decimal('18')),
 ('Amanzi', 'Dahabu', Decimal('3'), Decimal('37'), Decimal('55'), Decimal('1'), Decimal('4')),
 ('Hawassa', 'Deka', Decimal('3'), Decimal('16'), Decimal('23'), Decimal('21'), Decimal('38')),
 ('Hawassa', 'Djenne', Decimal('3'), Decimal('18'), Decimal('19'), Decimal('23'), Decimal('36')),
 ('Akatsi', 'Harare', Decimal('2'), Decimal('17'), Decimal('28'), Decimal('27'), Decimal('27')),
 ('Kilimani', 'Harare', Decimal('7'), Decimal('11'), Decimal('30'), Decimal('20'), Decimal('31')),
 ('Sokoto', 'Ilanga', Decimal('16'), Decimal('12'), Decimal('36'), Decimal('15'), Decimal('21')),
 ('Kilimani', 'Isiqalo', Decimal('7'), Decimal('19'), Decimal('25'), Decimal('18'), Decimal('30')),
 ('Akatsi', 'Kintampo', Decimal('2'), Decimal('15'), Decimal('31'), Decimal('26'), Decimal('26')),
 ('Sokoto', 'Kofi', Decimal('20'), Decimal('16'), Decimal('34'), Decimal('10'), Decimal('20')),
 ('Akatsi', 'Lusaka', Decimal('2'), Decimal('17'), Decimal('28'), Decimal('28'), Decimal('26')),
 ('Sokoto', 'Majengo', Decimal('18'), Decimal('14'), Decimal('36'), Decimal('12'), Decimal('20')),
 ('Sokoto', 'Marang', Decimal('17'), Decimal('19'), Decimal('31'), Decimal('13'), Decimal('21')),
 ('Kilimani', 'Mrembo', Decimal('7'), Decimal('16'), Decimal('25'), Decimal('21'), Decimal('32')),
 ('Amanzi', 'Pwani', Decimal('3'), Decimal('53'), Decimal('20'), Decimal('21'), Decimal('4')),
 ('Kilimani', 'Rural', Decimal('9'), Decimal('55'), Decimal('8'), Decimal('9'), Decimal('19')),
 ('Hawassa', 'Rural', Decimal('4'), Decimal('52'), Decimal('12'), Decimal('12'), Decimal('19')),
 ('Akatsi', 'Rural', Decimal('6'), Decimal('59'), Decimal('9'), Decimal('5'), Decimal('22')),
 ('Sokoto', 'Rural', Decimal('22'), Decimal('49'), Decimal('8'), Decimal('8'), Decimal('13')),
 ('Amanzi', 'Rural', Decimal('3'), Decimal('27'), Decimal('30'), Decimal('30'), Decimal('10')),
 ('Hawassa', 'Serowe', Decimal('6'), Decimal('14'), Decimal('23'), Decimal('23'), Decimal('34')),
 ('Hawassa', 'Yaounde', Decimal('2'), Decimal('14'), Decimal('22'), Decimal('23'), Decimal('38')),
 ('Hawassa', 'Zanzibar', Decimal('0'), Decimal('22'), Decimal('22'), Decimal('17'), Decimal('40')),
 ('Kilimani', 'Zuri', Decimal('8'), Decimal('71'), Decimal('6'), Decimal('11'), Decimal('4'))]

Temporary tables in SQL are a nice way to store the results of a complex query. We run the query once, and the results are stored as a table. The
catch? If we close the database connection, it deletes the table, so we have to run it again each time we start working in MySQL. The benefit is
that we can use the table to do more calculations, without running the whole query each time.

In [8]:
%%sql
# Query to create temporary table for the town aggeregated water access
CREATE TEMPORARY TABLE town_aggregated_water_access AS (
    WITH town_totals AS (
        SELECT
            province_name,
            town_name,
            SUM(people_served) AS total_ppl_serv
        FROM
            combined_analysis_table
        GROUP BY
            province_name,
            town_name
    )
    SELECT
        ct.province_name,
        ct.town_name,
        ROUND((SUM(CASE WHEN source_type = 'river'
        THEN people_served ELSE 0 END) * 100.0 / tt.total_ppl_serv), 0) AS river,
        ROUND((SUM(CASE WHEN source_type = 'shared_tap'
        THEN people_served ELSE 0 END) * 100.0 / tt.total_ppl_serv), 0) AS shared_tap,
        ROUND((SUM(CASE WHEN source_type = 'tap_in_home'
        THEN people_served ELSE 0 END) * 100.0 / tt.total_ppl_serv), 0) AS tap_in_home,
        ROUND((SUM(CASE WHEN source_type = 'tap_in_home_broken'
        THEN people_served ELSE 0 END) * 100.0 / tt.total_ppl_serv), 0) AS tap_in_home_broken,
        ROUND((SUM(CASE WHEN source_type = 'well'
        THEN people_served ELSE 0 END) * 100.0 / tt.total_ppl_serv), 0) AS well
    FROM
        combined_analysis_table ct
    JOIN 
        town_totals tt ON ct.province_name = tt.province_name AND ct.town_name = tt.town_name
    GROUP BY
        ct.province_name,
        ct.town_name
    ORDER BY
        ct.town_name
);

 * mysql+pymysql://root:***@127.0.0.1:3306/md_water_services
31 rows affected.

[]

So, let's order the results set by each column. If we order river DESC it confirms what we saw on a provincial level; People are drinking river water
in Sokoto.

In [9]:
%%sql
# Query to order by highest river percentage
SELECT 
    *
FROM 
    town_aggregated_water_access
ORDER BY
    river DESC;

 * mysql+pymysql://root:***@127.0.0.1:3306/md_water_services
31 rows affected.

[('Sokoto', 'Rural', Decimal('22'), Decimal('49'), Decimal('8'), Decimal('8'), Decimal('13')),
 ('Sokoto', 'Bahari', Decimal('21'), Decimal('11'), Decimal('36'), Decimal('12'), Decimal('20')),
 ('Sokoto', 'Kofi', Decimal('20'), Decimal('16'), Decimal('34'), Decimal('10'), Decimal('20')),
 ('Sokoto', 'Cheche', Decimal('19'), Decimal('16'), Decimal('35'), Decimal('12'), Decimal('18')),
 ('Sokoto', 'Majengo', Decimal('18'), Decimal('14'), Decimal('36'), Decimal('12'), Decimal('20')),
 ('Sokoto', 'Marang', Decimal('17'), Decimal('19'), Decimal('31'), Decimal('13'), Decimal('21')),
 ('Sokoto', 'Ilanga', Decimal('16'), Decimal('12'), Decimal('36'), Decimal('15'), Decimal('21')),
 ('Kilimani', 'Rural', Decimal('9'), Decimal('55'), Decimal('8'), Decimal('9'), Decimal('19')),
 ('Kilimani', 'Amara', Decimal('8'), Decimal('22'), Decimal('25'), Decimal('16'), Decimal('30')),
 ('Amanzi', 'Amina', Decimal('8'), Decimal('24'), Decimal('3'), Decimal('56'), Decimal('9')),
 ('Kilimani', 'Zuri', Decimal('8'), Decimal('71'), Decimal('6'), Decimal('11'), Decimal('4')),
 ('Kilimani', 'Harare', Decimal('7'), Decimal('11'), Decimal('30'), Decimal('20'), Decimal('31')),
 ('Kilimani', 'Isiqalo', Decimal('7'), Decimal('19'), Decimal('25'), Decimal('18'), Decimal('30')),
 ('Kilimani', 'Mrembo', Decimal('7'), Decimal('16'), Decimal('25'), Decimal('21'), Decimal('32')),
 ('Akatsi', 'Rural', Decimal('6'), Decimal('59'), Decimal('9'), Decimal('5'), Decimal('22')),
 ('Hawassa', 'Serowe', Decimal('6'), Decimal('14'), Decimal('23'), Decimal('23'), Decimal('34')),
 ('Hawassa', 'Rural', Decimal('4'), Decimal('52'), Decimal('12'), Decimal('12'), Decimal('19')),
 ('Amanzi', 'Asmara', Decimal('3'), Decimal('49'), Decimal('24'), Decimal('20'), Decimal('4')),
 ('Amanzi', 'Bello', Decimal('3'), Decimal('53'), Decimal('20'), Decimal('22'), Decimal('3')),
 ('Amanzi', 'Dahabu', Decimal('3'), Decimal('37'), Decimal('55'), Decimal('1'), Decimal('4')),
 ('Hawassa', 'Deka', Decimal('3'), Decimal('16'), Decimal('23'), Decimal('21'), Decimal('38')),
 ('Hawassa', 'Djenne', Decimal('3'), Decimal('18'), Decimal('19'), Decimal('23'), Decimal('36')),
 ('Amanzi', 'Pwani', Decimal('3'), Decimal('53'), Decimal('20'), Decimal('21'), Decimal('4')),
 ('Amanzi', 'Rural', Decimal('3'), Decimal('27'), Decimal('30'), Decimal('30'), Decimal('10')),
 ('Amanzi', 'Abidjan', Decimal('2'), Decimal('53'), Decimal('22'), Decimal('19'), Decimal('4')),
 ('Hawassa', 'Amina', Decimal('2'), Decimal('14'), Decimal('19'), Decimal('24'), Decimal('42')),
 ('Akatsi', 'Harare', Decimal('2'), Decimal('17'), Decimal('28'), Decimal('27'), Decimal('27')),
 ('Akatsi', 'Kintampo', Decimal('2'), Decimal('15'), Decimal('31'), Decimal('26'), Decimal('26')),
 ('Akatsi', 'Lusaka', Decimal('2'), Decimal('17'), Decimal('28'), Decimal('28'), Decimal('26')),
 ('Hawassa', 'Yaounde', Decimal('2'), Decimal('14'), Decimal('22'), Decimal('23'), Decimal('38')),
 ('Hawassa', 'Zanzibar', Decimal('0'), Decimal('22'), Decimal('22'), Decimal('17'), Decimal('40'))]

But look at the tap_in_home percentages in Sokoto too. Some of our citizens are forced to drink unsafe water from a river, while a lot of people
have running water in their homes in Sokoto. Large disparities in water access like this often show that the wealth distribution in Sokoto is very unequal. We should mention this in our report. We should also send our drilling teams to Sokoto first to drill some wells for the people who are drinking river water, specifically the rural parts and the city of Bahari.

Next, sort the data by province_name next and look at the data for Amina in Amanzi. Here only 3% of Amina's citizens have access to running tap
water in their homes. More than half of the people in Amina have taps installed in their homes, but they are not working. We should send out teams
to go and fix the infrastructure in Amina first. Fixing taps in people's homes, means those people don't have to queue for water anymore, so the
queues in Amina will also get shorter!

In [10]:
%%sql
# Query to show data for Amina, Amanzi
SELECT
    *
FROM
    town_aggregated_water_access
WHERE
    province_name = 'Amanzi'
AND
    town_name = 'Amina'
ORDER BY
    province_name;

 * mysql+pymysql://root:***@127.0.0.1:3306/md_water_services
1 rows affected.

[('Amanzi', 'Amina', Decimal('8'), Decimal('24'), Decimal('3'), Decimal('56'), Decimal('9'))]

There are still many gems hidden in this table. For example, which town has the highest ratio of people who have taps, but have no running water?

In [11]:
%%sql
# Query to find which town has the highest ratio of people who have taps but have no running water
SELECT
    province_name,
    town_name,
    ROUND(tap_in_home_broken / (tap_in_home_broken + tap_in_home) * 100, 0) AS Pct_broken_taps
FROM
    town_aggregated_water_access
ORDER BY
    ROUND(tap_in_home_broken / (tap_in_home_broken + tap_in_home) * 100, 0) DESC;

 * mysql+pymysql://root:***@127.0.0.1:3306/md_water_services
31 rows affected.

[('Amanzi', 'Amina', Decimal('95')),
 ('Kilimani', 'Zuri', Decimal('65')),
 ('Hawassa', 'Amina', Decimal('56')),
 ('Hawassa', 'Djenne', Decimal('55')),
 ('Kilimani', 'Rural', Decimal('53')),
 ('Amanzi', 'Bello', Decimal('52')),
 ('Amanzi', 'Pwani', Decimal('51')),
 ('Hawassa', 'Yaounde', Decimal('51')),
 ('Akatsi', 'Lusaka', Decimal('50')),
 ('Hawassa', 'Rural', Decimal('50')),
 ('Sokoto', 'Rural', Decimal('50')),
 ('Amanzi', 'Rural', Decimal('50')),
 ('Hawassa', 'Serowe', Decimal('50')),
 ('Akatsi', 'Harare', Decimal('49')),
 ('Hawassa', 'Deka', Decimal('48')),
 ('Amanzi', 'Abidjan', Decimal('46')),
 ('Akatsi', 'Kintampo', Decimal('46')),
 ('Kilimani', 'Mrembo', Decimal('46')),
 ('Amanzi', 'Asmara', Decimal('45')),
 ('Hawassa', 'Zanzibar', Decimal('44')),
 ('Kilimani', 'Isiqalo', Decimal('42')),
 ('Kilimani', 'Harare', Decimal('40')),
 ('Kilimani', 'Amara', Decimal('39')),
 ('Akatsi', 'Rural', Decimal('36')),
 ('Sokoto', 'Marang', Decimal('30')),
 ('Sokoto', 'Ilanga', Decimal('29')),
 ('Sokoto', 'Cheche', Decimal('26')),
 ('Sokoto', 'Bahari', Decimal('25')),
 ('Sokoto', 'Majengo', Decimal('25')),
 ('Sokoto', 'Kofi', Decimal('23')),
 ('Amanzi', 'Dahabu', Decimal('2'))]

We can see that Amina has infrastructure installed, but almost none of it is working, and only the capital city, Dahabu's water infrastructure works.
Strangely enough, all of the politicians of the past government lived in Dahabu, so they made sure they had water. The point is, look how simple our
query is now!

## 3. **Summary Report: Sharing Our Knowledge with Decision-Makers**

In the Summary Report phase, the focus is on sharing knowledge derived from data analysis with decision-makers to facilitate informed decision-making. Here are the specific details regarding this point:

- **Data Presentation:**
  - Compile key findings and insights into a concise report format for easy understanding.
  - Present data in a structured manner that highlights important trends and recommendations.

- **Decision-Making Support:**
  - Provide decision-makers with actionable insights and recommendations based on the data analysis.
  - Offer clear guidance on areas needing attention and potential strategies for improvement.

- **Stakeholder Engagement:**
  - Engage decision-makers in discussions based on the insights presented in the report.
  - Encourage collaboration and feedback to ensure alignment on priorities and actions.

- **Strategic Planning:**
  - Use the report to guide strategic planning efforts and resource allocation decisions.
  - Ensure that decision-makers have the necessary information to drive positive change and address water-related challenges effectively.

By sharing knowledge effectively through the Summary Report, decision-makers can leverage data-driven insights to make informed choices, prioritize actions, and drive meaningful impact in transforming Maji Ndogo's water future.

### **Insights**
Ok, so let's sum up the data we have.
A couple of weeks ago we found some interesting insights:
1. Most water sources are rural in Maji Ndogo.
2. 43% of our people are using shared taps. 2000 people often share one tap.
3. 31% of our population has water infrastructure in their homes, but within that group,
4. 45% face non-functional systems due to issues with pipes, pumps, and reservoirs. Towns like Amina, the rural parts of Amanzi, and a couple
of towns across Akatsi and Hawassa have broken infrastructure.
5. 18% of our people are using wells of which, but within that, only 28% are clean. These are mostly in Hawassa, Kilimani and Akatsi.
6. Our citizens often face long wait times for water, averaging more than 120 minutes:

    • Queues are very long on Saturdays.
    
    • Queues are longer in the mornings and evenings.
    
    • Wednesdays and Sundays have the shortest queues.

### **Plan of action**
1. We want to focus our efforts on improving the water sources that affect the most people.
    
    • Most people will benefit if we improve the shared taps first.
2. Wells are a good source of water, but many are contaminated. Fixing this will benefit a lot of people.
3. Fixing existing infrastructure will help many people. If they have running water again, they won't have to queue, thereby shorting queue times
for others. So we can solve two problems at once.
4. Installing taps in homes will stretch our resources too thin, so for now if the queue times are low, we won't improve that source.
5. Most water sources are in rural areas. We need to ensure our teams know this as this means they will have to make these repairs/upgrades in
rural areas where road conditions, supplies, and labour are harder challenges to overcome.

### **Practical solutions:**
1. If communities are using rivers, we will dispatch trucks to those regions to provide water temporarily in the short term, while we send out
crews to drill for wells, providing a more permanent solution. Sokoto is the first province we will target.
2. If communities are using wells, we will install filters to purify the water. For chemically polluted wells, we can install reverse osmosis (RO)
filters, and for wells with biological contamination, we can install UV filters that kill microorganisms - but we should install RO filters too. In
the long term, we must figure out why these sources are polluted.
3. For shared taps, in the short term, we can send additional water tankers to the busiest taps, on the busiest days. We can use the queue time
pivot table we made to send tankers at the busiest times. Meanwhile, we can start the work on installing extra taps where they are needed.
According to UN standards, the maximum acceptable wait time for water is 30 minutes. With this in mind, our aim is to install taps to get
queue times below 30 min. Towns like Bello, Abidjan and Zuri have a lot of people using shared taps, so we will send out teams to those
towns first.
4. Shared taps with short queue times (< 30 min) represent a logistical challenge to further reduce waiting times. The most effective solution,
installing taps in homes, is resource-intensive and better suited as a long-term goal.
5. Addressing broken infrastructure offers a significant impact even with just a single intervention. It is expensive to fix, but so many people can
benefit from repairing one facility. For example, fixing a reservoir or pipe that multiple taps are connected to. We identified towns like Amina,
Lusaka, Zuri, Djenne and rural parts of Amanzi seem to be good places to start.

## 4. **A Practical Plan: From Analysis to Action**

In the "A Practical Plan: From Analysis to Action" phase, the focus is on translating insights derived from data analysis into actionable steps to improve water access in Maji Ndogo. Here are the specific details regarding this point:

- **Database Implementation:**
  - Implement a plan to enhance water access by creating a database structure that guides teams in fixing, upgrading, and repairing water sources.
  - Include essential information in the database such as street addresses, town, province, type of water source, required improvements, completion status, and upgrade details.

- **Project Progress Tracking:**
  - Develop a table named "Project_progress" to track the progress of water source repairs and upgrades.
  - Provide a platform for teams to update completion status, dates of repairs, and upgrade activities, ensuring transparency and accountability.

- **Resource Allocation:**
  - Allocate resources effectively by identifying areas needing immediate attention and prioritizing interventions based on the analysis conducted.
  - Ensure that repair efforts are targeted towards areas with the highest impact and where interventions can benefit the most people.

- **Long-Term Goals:**
  - Consider long-term goals such as installing taps in homes and addressing broken infrastructure to improve water access sustainably.
  - Identify specific towns and regions like Amina, Lusaka, Zuri, Djenne, and rural parts of Amanzi as potential starting points for interventions.

By transitioning from analysis to action through a practical plan, the aim is to empower teams with the necessary information to make tangible improvements in water access, address infrastructure challenges effectively, and work towards transforming Maji Ndogo for a better future.

Our final goal is to implement our plan in the database.
We have a plan to improve the water access in Maji Ndogo, so we need to think it through, and as our final task, let's create a table where our teams
have the information they need to fix, upgrade and repair water sources. They will need the addresses of the places they should visit (street
address, town, province), the type of water source they should improve, and what should be done to improve it.
We should also make space for them in the database to update us on their progress. We need to know if the repair is complete, and the date it was
completed, and give them space to upgrade the sources. Let's call this table Project_progress.

In [12]:
%%sql
# Query to create project progress table
CREATE TABLE Project_progress (
    Project_id SERIAL PRIMARY KEY,
    source_id VARCHAR(20) NOT NULL REFERENCES water_source(source_id) ON DELETE CASCADE ON UPDATE CASCADE,
    Address VARCHAR(50),
    Town VARCHAR(30),
    Province VARCHAR(30),
    Source_type VARCHAR(50),
    Improvement VARCHAR(50),
    Source_status VARCHAR(50) DEFAULT 'Backlog' CHECK (Source_status IN ('Backlog', 'In progress', 'Complete')),
    Date_of_completion DATE,
    Comments TEXT
);

 * mysql+pymysql://root:***@127.0.0.1:3306/md_water_services
0 rows affected.

[]

At a high level, the Improvements are as follows:
1. Rivers → Drill wells
2. wells: if the well is contaminated with chemicals → Install RO filter
3. wells: if the well is contaminated with biological contaminants → Install UV and RO filter
4. shared_taps: if the queue is longer than 30 min (30 min and above) → Install X taps nearby where X number of taps is calculated using X
= FLOOR(time_in_queue / 30).
5. tap_in_home_broken → Diagnose local infrastructure

We can see that for wells and shared taps we have some IF logic, so we should be thinking CASE functions!

First things first, let's filter the data to only contain sources we want to improve by thinking through the logic first.
1. Only records with visit_count = 1 are allowed.
2. Any of the following rows can be included:

    a. Where shared taps have queue times over 30 min.

    b. Only wells that are contaminated are allowed -- So we exclude wells that are Clean

    c. Include any river and tap_in_home_broken sources.

In [13]:
%%sql
# Query to filter result set
SELECT
    location.address,
    location.town_name,
    location.province_name,
    water_source.source_id,
    water_source.type_of_water_source,
    well_pollution.results
FROM
    water_source
LEFT JOIN
    well_pollution ON water_source.source_id = well_pollution.source_id
INNER JOIN
    visits ON water_source.source_id = visits.source_id
INNER JOIN
    location ON location.location_id = visits.location_id
WHERE
    visit_count = 1
AND (
    (type_of_water_source = 'shared_tap' AND time_in_queue >= 30)
    OR
    results != 'Clean'
    OR
    type_of_water_source IN ('river', 'tap_in_home_broken')
)
LIMIT 5;

 * mysql+pymysql://root:***@127.0.0.1:3306/md_water_services
5 rows affected.

[('36 Pwani Mchangani Road', 'Ilanga', 'Sokoto', 'SoIl32582224', 'river', None),
 ('129 Ziwa La Kioo Road', 'Rural', 'Kilimani', 'KiRu28935224', 'well', 'Contaminated: Biological'),
 ('18 Mlima Tazama Avenue', 'Rural', 'Hawassa', 'HaRu19752224', 'shared_tap', None),
 ('100 Mogadishu Road', 'Lusaka', 'Akatsi', 'AkLu01628224', 'well', 'Contaminated: Biological'),
 ('26 Bahari Ya Faraja Road', 'Rural', 'Kilimani', 'KiRu29315224', 'river', None)]

**Step 1: Wells**

Let's start with wells. Depending on whether they are chemically contaminated, or biologically contaminated — we'll decide on the interventions.

let's use some control flow logic to create Install UV filter or Install RO filter values in the Improvement column where the results of the pollution tests were Contaminated: Biological and Contaminated: Chemical respectively.

**Step 2: Rivers**

Now for the rivers. We upgrade those by drilling new wells nearby.

**Step 3: Shared taps**
Next up, shared taps. We need to install one tap near each shared tap for every 30 min of queue time.
This is my logic:

CASE
...
WHEN type_of_water_source = ... AND ... THEN CONCAT("Install ", FLOOR(...), " taps nearby")
ELSE NULL

I am using FLOOR() here because I want to round the calculation down. Say the queue time is 45 min. The result of 45/30 = 1.5, which could
round up to 2. We only want to install a second tap if the queue is > 60 min. Using FLOOR() will round down everything below 59 mins to one extra
tap, and if the queue is 60 min, we will install two taps, and so on.

**Step 4: In-home taps**

Lastly, let's look at in-home taps, specifically broken ones. These taps indicate broken infrastructure. So these need to be inspected by our engineers.

In [14]:
%%sql
# Query to fetch results with improvement
SELECT
    location.address,
    location.town_name,
    location.province_name,
    water_source.source_id,
    water_source.type_of_water_source,
    well_pollution.results,
    CASE
        WHEN results = 'Contaminated: Chemical' THEN 'Install RO filter'
        WHEN results = 'Contaminated: Biological' THEN 'Install UV filter and Install RO filter'
        WHEN type_of_water_source = 'river' THEN 'Drill well'
        WHEN type_of_water_source = 'shared_tap' AND time_in_queue >= 30 THEN CONCAT('Install ', FLOOR(time_in_queue/30), ' taps nearby')
        WHEN type_of_water_source = 'tap_in_home_broken' THEN 'Diagnose local infrastructure'
    END AS improvement
FROM
    water_source
LEFT JOIN
    well_pollution ON water_source.source_id = well_pollution.source_id
INNER JOIN
    visits ON water_source.source_id = visits.source_id
INNER JOIN
    location ON location.location_id = visits.location_id
WHERE
    visit_count = 1
AND (
    (type_of_water_source = 'shared_tap' AND time_in_queue >= 30)
    OR
    results != 'Clean'
    OR
    type_of_water_source IN ('river', 'tap_in_home_broken')
)
LIMIT 5;

 * mysql+pymysql://root:***@127.0.0.1:3306/md_water_services
5 rows affected.

[('36 Pwani Mchangani Road', 'Ilanga', 'Sokoto', 'SoIl32582224', 'river', None, 'Drill well'),
 ('129 Ziwa La Kioo Road', 'Rural', 'Kilimani', 'KiRu28935224', 'well', 'Contaminated: Biological', 'Install UV filter and Install RO filter'),
 ('18 Mlima Tazama Avenue', 'Rural', 'Hawassa', 'HaRu19752224', 'shared_tap', None, 'Install 2 taps nearby'),
 ('100 Mogadishu Road', 'Lusaka', 'Akatsi', 'AkLu01628224', 'well', 'Contaminated: Biological', 'Install UV filter and Install RO filter'),
 ('26 Bahari Ya Faraja Road', 'Rural', 'Kilimani', 'KiRu29315224', 'river', None, 'Drill well')]

**Step 6:**

Add the data to Project_progress

Now that we have the data we want to provide to engineers,let's populate the Project_progress table with the results of our query.

In [15]:
%%sql
# Query to populate project progress table with data from results query
INSERT INTO project_progress (source_id, Address, Town, Province, Source_type, Improvement)
SELECT
    water_source.source_id,
    location.address,
    location.town_name,
    location.province_name,
    water_source.type_of_water_source,
    CASE
        WHEN well_pollution.results = 'Contaminated: Chemical' THEN 'Install RO filter'
        WHEN well_pollution.results = 'Contaminated: Biological' THEN 'Install UV filter and Install RO filter'
        WHEN type_of_water_source = 'river' THEN 'Drill well'
        WHEN type_of_water_source = 'shared_tap' AND time_in_queue >= 30 THEN CONCAT('Install ', FLOOR(time_in_queue/30), ' taps nearby')
        WHEN type_of_water_source = 'tap_in_home_broken' THEN 'Diagnose local infrastructure'
    END AS improvement
FROM
    water_source
LEFT JOIN
    well_pollution ON water_source.source_id = well_pollution.source_id
INNER JOIN
    visits ON water_source.source_id = visits.source_id
INNER JOIN
    location ON location.location_id = visits.location_id
WHERE
    visit_count = 1
AND (
    (type_of_water_source = 'shared_tap' AND time_in_queue >= 30)
    OR
    results != 'Clean'
    OR
    type_of_water_source IN ('river', 'tap_in_home_broken')
);

 * mysql+pymysql://root:***@127.0.0.1:3306/md_water_services
25398 rows affected.

[]

There we go, all done! Now we send off our summary report to The president with our main findings, so they can start organising the teams. We'll
also explain the Project_progress table, and how this will help us track our progress.

Finally, thank you for sticking with me through this project. I know there were some tough times in this project; Window Functions, JOINS, and even
corruption!